$backgroundcolor: #fff;
$headercolor: rgb(192, 177, 177);
$maincolor: rgb(156, 151, 151);
$footercolor: rgb(204, 202, 202);

@mixin main($color) {
    width: 80%;
    background-color: $color;
}


#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    position: relative;
    background-color: $backgroundcolor;
    justify-content: center;

    .appBox{
        width: 1000px;
        margin: 0px 0px 0px 0px;
        padding: 0;

        .header {
            @include main($headercolor);    
        }
    
        .main {
            @include main($maincolor);
            min-height: 80%;
        }
    
        .footer {
            @include main($footercolor);
        }    
    }    
}